*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: @font-size;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: @font-family;
  color: @text-color;
}

h2 {
  margin: 0;
  font-size: @font-size--h;
  line-height: 26px;
  font-weight: 700;
  color: @text-color--title;
}

h3 {
  margin: 0;
  color: @text-color--title;
  font-weight: 700;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
