.advantages__list {
  width: 320px;
}

.advantages__item {
  position: relative;
  padding: 40px 30px;
  color: @text-color--secondary;
  background-color: @color-secondary;
  text-align: center;

    &--secondary {
      background-color: #eeeeee;
      color: @text-color;
      padding: 30px 30px;

      .advantages__title {
        color: @text-color--title;
      }
    }

    &--secondary:not(:last-of-type)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      height: 1px;
      background-color: #d6d6d6;
    }
}

.advantages__title {
  margin-bottom: 15px;
  color: @text-color--secondary;
}

.advantages__number {
  display: block;
  margin-bottom: 20px;
}
