.advantages {
  &__list {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &__content {
    padding: 40px 30px;
    color: @text-color--secondary;
    background-color: @color-secondary;
    text-align: center;

    @media (min-width: @tablet-width) {
      width: 256px;
      min-height: 256px;
      padding: 40px 50px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
      padding: 50px 65px;
    }
  }

  &__item--secondary {
    position: relative;

    .advantages__content {
      color: @text-color;
      background-color: @color-secondary--lighten;
    }

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: #d6d6d6;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    .advantages__title {
      color: @text-color--title;
    }
  }

  &__title {
    margin-bottom: 15px;
    color: @text-color--secondary;

    @media (min-width: @tablet-width) {
      font-size: @font-size--large;
      line-height: 26px;
    }
  }

  &__number {
    display: block;
    margin-bottom: 20px;
  }

  &__img {
    display: block;
    width: 320px;
    height: 260px;

    @media (min-width: @tablet-width) {
      width: 512px;
      height: 256px;
    }

    @media (min-width: @desktop-width) {
      width: 800px;
    }
  }
}
