.features {
  padding: 40px;
  padding-left: 70px;
}

.features__item {
  margin-bottom: 40px;

  &--food {
    margin-bottom: 0;
  }
}

.features__title {
  margin-bottom: 20px;
  font-size: @font-size--h3;
  line-height: 26px;
}
