.form-group {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.form-group__inner {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 25px 0;
  margin: 0 auto;
}

.form-group__title {
  font-size: @font-size--h2;
  line-height: 26px;
  font-weight: 700;
  color: @text-color--title;
  text-align: center;
  margin-bottom: 25px;
}
