.main-footer {
  padding-top: 40px;
  padding-bottom: 20px;

  &__hashtag {
    font-size: @font-size--large;
    color: @text-color--title;
    font-weight: 700;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }

  &__copyright-link {
    color: @text-color--title;
  }
}
