.main-nav__list {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-left: 50px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 90px;
    padding-right: 70px;
  }
}

.main-nav__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    &:nth-child(2),
    &:nth-child(3) {
      flex-grow: 2;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 8px 0;
  font-size: @font-size--h2;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background-color: #81b3d2;

  &:hover {
    background-color: @color-secondary--darken;

    @media (min-width: @tablet-width) {
      background-color: @color-main;
      color: @color-secondary;
    }
  }

  &:active {
    background-color: @color-secondary--darkest;
    color: rgba(255, 255, 255, 0.3);

    @media (min-width: @tablet-width) {
      background-color: @color-main;
      color: lighten(@text-color--title, 70%);
    }
  }

  @media (min-width: @tablet-width) {
    padding: 15px;
    font-size: @font-size;
    line-height: 26px;
    border-bottom: none;
    box-shadow: none;
    color: @text-color--title;
    background-color: @color-main;
  }

  &--first {
    box-shadow: none;
  }

  &--last {
    border-bottom: none;
    box-shadow: inset 0 -2px 5px rgba(1, 1, 1, 0.2),
                inset 0 1px 0 rgba(255, 255, 255, 0.3);

    @media (min-width: @tablet-width) {
      box-shadow: none;
    }
  }
}
