.main-footer {
  width: 320px;
  padding: 40px 20px 20px;
  text-align: center;
}

.main-footer__hashtag {
  font-size: 21px;
  color: #000000;
  font-weight: 700;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.main-footer__copyright-link {
  color: #000000;
}
