.main-footer {
  width: 320px;
  padding: 40px 20px 20px;
  text-align: center;
}

.main-footer__hashtag {
  font-size: @font-size--large;
  color: @text-color--title;
  font-weight: 700;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.main-footer__copyright-link {
  color: @text-color--title;
}
