.photo {
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo__inner {
  width: 280px;
  padding: 20px 0;
  margin: 0 auto;
}

.photo__label {
  margin-top: 15px;
  line-height: 24px;
  font-weight: 700;
  color: @text-color--title;
}

.photo__footer-author {
  line-height: 24px;
  text-transform: none;
  margin-bottom: 10px;
}

.photo__footer-like-btn {
  border: none;
  outline: none;
}

.photo__footer-like-num {
  line-height: 24px;
  font-weight: 700;
  color: @text-color--title;
}
