.search__inner {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.search__title {
  line-height: 26px;
  margin-bottom: 30px;
}

.search__text {
  margin-bottom: 40px;
}
